<footer class="the_footer">
    <div class="izqf">
        <div class="info_izqf">
            <a>¿NECESITAS AYUDA?</a>

            <a>email: agv@dondemasteguste.es</a>

            <a>Teléfono: 15-15-15</a>
        </div>

    </div>

    <div class="cntrf">

        <a>INFORMACIÓN</a>
        <a>Quienes somos</a>
        <a>Preguntas frecuentes</a>
        <a>Politicas de privacidad</a>
        <a>Condiciones generales</a>
        <a>Aviso Legal</a>
        <a>Programa de puntos</a>

    </div>

    <div class="drcf">
        <div class="info_drcf">
            <a>SUSCRIBETE A LA NEWSLETTER</a>

            <input type="text">

            <button>ENVIAR</button>
        </div>
    </div>



</footer>

<div class="bottomf">

    <a>GEEKSHUBS travel 2019</a>

</div>

<!-- div.enlaces>ul>li*3.items(item $)^^div.redes>img*4 -->