<nav class="navegador">

    <span class="logo">
        <img src="/img/iconoweb.png">
        <text class="logo_text1"><strong>GeeksHubs</strong></text>
        <text class="logo_text2"><strong>Travels</strong></text>
    </span>
    <span class="nav_links">
        <a href="#destiny_section">Destinos</a><a href="#">Quién somos</a><a href="#izq">Donde estamos</a>
    </span>
    <span id="responsive_menu" style="display:none">
        <button class="dropmenu">Dropdown</button>
        <div id="myDropdown" style="display:none" class="dropdown-content">
            <a href="#destiny_section">Destinos</a><a href="#">Quién somos</a><a href="#izq">Donde estamos</a>
        </div>
    </span>
    <span class="icons">
        <a href="#"> <img src="/img/fb-ico.png" /></a>
        <a href="#"> <img src="/img/tt-ico.png" /></a>
        <a href="#"> <img src="/img/ws-icon.png" /></a>
        <a href="#"> <img src="/img/ins-ico.png" /></a>
        <a href="#"> <img src="/img/ln-ico.png" /></a>
        <a href="#"> <img src="/img/yw-ico.png" /></a>
    </span>
</nav>