/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.img_we {
    max-width: 400px;

    height: 45vh;
    width: 40vw;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.where_are_we {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info_section3_2 {
    display: flex;
    flex-direction: column;
}

.img_section3 {}

.info_section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.izq {

    background-color: white;
    width: 50%;
    height: 30em;
    float: left;
    /* background-image: url("/img/geekshubsMapa.jpg"); */

}

.drc {


    background-color: white;
    width: 50%;
    height: 30em;
    float: left;



}



.the_footer {

    background-color: #191970;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.izqf {

    background-color: #191970;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.info_izqf {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cntrf {
    display: flex;
    flex-direction: column;
    background-color: #191970;


}

.drcf {

    background-color: #191970;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.info_drcf {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bottomf {

    color: white;
    text-align: center;
    width: 100%;
    background-color: tomato;
    display: inline-block;

}

.bformulario {

    background-color: yellow;
    padding: 1em;

    margin-top: 2em;

}

#dform {

    width: 40%;

}

#dformmessage {

    width: 80.5%;
}