body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;

}

/*------------------------------------------------HEADER Y NAV------------------------------------------------*/
.first_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 45vw;
    background-image: url("../img/fondo1.jpg");
    background-size: 100% 110%;

}


.menu {}


.navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    z-index: 4;
    position: sticky;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0484a9+20,0484a9+31,066281+91 */
    background: #0484a9;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0484a9 20%, #0484a9 31%, #066281 91%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #0484a9 20%, #0484a9 31%, #066281 91%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #0484a9 20%, #0484a9 31%, #066281 91%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0484a9', endColorstr='#066281', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    left: 0px;
    height: auto;


}

#responsive_menu {
    align-self: center;


}

.nav_links {
    align-self: center;
}

.nav_links a {
    padding: 30px;
    font-size: 2.1vw;
    text-decoration: none;
    color: white;


}

#myDropdown {
    display: flex;
    flex-direction: column;



}

.icons {

    align-self: center;
}

.icons img {



    height: auto;
    width: 30px;
}

.icons a {}

.logo {
    display: flex;
    justify-content: center;

    flex-direction: column;
    width: 20%;
}

.logo img {
    width: auto;
    height: 60px;
    ;

}


.logo_text1 {
    color: #151837;
    align-self: center;
    font-size: 1.5vw;
}


.logo_text2 {
    color: #151837;

    align-self: center;


}


.main_text {
    align-self: center;
}


.main_text .viaja {
    font-size: 55px;
    color: white;
}

.main_text .viaja2nd {
    color: white;
    font-size: 35px;
}

.span_button {}

.el_boton {
    height: 3.8vw;
    width: 12vw;

    background-color: yellow;
}




/* ------------------------------------------------------------------- register */

.register_span {
    align-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.register_span form {

    display: flex;
    flex-direction: column;
    justify-content: center;

}



.input_reg {
    max-width: 300px;

}


.login_span {
    align-self: center;
    height: 25vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



/* fin register -----------------------------------------------------------------*/

/*----------------------------------------FIN DE HEADER Y NAV-----------------------------------------------------------*/
/* -----------------------------------------------------------1ST SECTION DESTINOS -----------------------------------------------------------*/

/* 1ST SECTION */

#a_destiny {
    position: relative;

    text-decoration: none;

    padding: 8px 16px;
}

#a_destiny:hover {
    background-color: #ddd;
    color: black;
}

.previous {

    top: 250px;
    background-color: black;
    color: #f1f1f1;
}

.next {
    top: -180px;
    background-color: black;
    color: white;
    left: 380px;
}

.round {
    border-radius: 50%;
}




.destiny_section {

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

    /*    justify-content: center;*/
}

.Destiny {
    flex: 1 0 31%;
    /* explanation below */
    margin: 5px;
    padding-left: 75px;

}


.destiny_text {
    text-align: center;
    display: table-cell;
    font-size: 16px;
    color: white;
    background-color: #151837;
    position: relative;
    width: 150px;
    height: 40px;
    top: 100px;
}

.destiny_price {
    text-align: center;
    font-size: 50px;
    background-color: yellow;
    width: 150px;
    height: 60px;
    position: relative;
    top: 60px;
    left: 150px;
    color: #151837;
}

.Destiny img {
    height: 250px;
    width: 300px;




}

.destiny_text strong {

    vertical-align: middle;

}

.destiny_name {

    text-align: center;
    color: blue;

    font-size: 20px;
    /*margin-left: 90px;*/
}

/*FIN 1ST SECTION */
/*------------------------------------------------FIN 1ST SECTION DESTINOS ------------------------------------------------*/
/*------------------------------------------------ 2nd SECTION QUIEN SOMOS ------------------------------------------------*/


/*------------------------------------------------FIN 2nd SECTION QUIEN SOMOS------------------------------------------------ */
/*------------------------------------------------ 3rd SECTION DONDE ESTAMOS ------------------------------------------------*/


/*------------------------------------------------FIN 3rd SECTION DONDE ESTAMOS ------------------------------------------------*/
/*------------------------------------------------FOOTER------------------------------------------------*/

/*------------------------------------------------FIN FOOTER------------------------------------------------*/